<suite name="Suite">
  <test thread-count="5" name="Test Register and Login">
    
    
    <parameter name="os" value="windows"/>
    <parameter name="browser" value="chrome"/>
    
    <classes>
      <class name="testCases.testRegisterUser"/>
      <class name="testCases.LoginWithCorrectEmailandPassword"/>
    </classes>
  </test> <!-- Test Register and Login -->
</suite> <!-- Suite -->